.Meaning .definition {
  font-size: 15px;
  color: black;
  opacity: 0.7;
  letter-spacing: 1px;
  font-weight: lighter;
  font-family: "Maven Pro", sans-serif;
  line-height: 30px;
}

.Meaning h3 {
  font-size: 25px;
  color: #70757a;
  font-weight: 300;
  font-family: "Maven Pro", sans-serif;
  line-height: 10px;
  line-height: 30px;
}

.Meaning .example {
  font-size: 15px;
  color: #70757a;
  font-style: italic;
  font-family: "Maven Pro", sans-serif;
  line-height: 30px;
}
